<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Positive Transaction flow" >
<listeners>
<listener class-name="mBankingUtilityCenter.AnotationListner"></listener>
</listeners>
    <test name = "Transaction">
      <classes>
          <class name = "mBankingControlCenter.Transactions"/>
      </classes>        
    </test>
</suite>